<!-- button to get scored -->
<button type="button" (click)="emitToParent()" id="submitScore" style="display:none">Submit</button>

<div id="notSubmitScore" style="display:none">
    <!-- your score -->
<h2>Your score: <span id="scoreNum"></span></h2>
    <p>High Scores:</p>

    <!-- top 10: -->
    <table>
        <tr>
            <th>Username</th>
            <th>Score</th>
        </tr>
            <tr *ngFor="let item of scoreArray | slice:0:10;">
                <td *ngFor="let cell of item">
                    {{ cell }}
                </td>
            </tr>
    </table>

</div>
