<!-- button to get scored -->
<button type="button" (click)="emitToParent()" class = "button" id="submitScore" style="display:none">Submit</button>




<div id="notSubmitScore" class="w3-animate-opacity" style="display:none">
    <!-- your score -->
<h2 id="your-score">Your score: <span id="scoreNum"></span></h2>
    <p id="title" >High Scores:</p>

    <!-- top 10: -->
    <table id = "moves">
        <tr>
            <th>Username</th>
            <th>Score</th>
        </tr>
            <tr *ngFor="let item of scoreArray | slice:0:10;">
                <td *ngFor="let cell of item">
                    {{ cell }}
                </td>
            </tr>
    </table>

</div>
