<app-name [startGame]="startTheGame" (newDataEvent)="getName($event)"></app-name>
<div class="btn-cnt">
  <button class="btn-main" type="button" (click)="startGame(timer, color)">Start Game</button>
  <button class="btn-main" type="button" (click)="stopGame(timer)">Stop</button>
</div>
<app-timer id="timer" #timer></app-timer>

<div id="slider-cnt">
  <app-slider color="red" c="r"></app-slider>
  <app-slider color="green" c="g"></app-slider>
  <app-slider color="blue" c="b"></app-slider>
</div>

<app-color id="color" #color></app-color>
<app-score id="score" (getScoreEvent)="parentScore($event, timer)" #score></app-score>


<router-outlet></router-outlet>
