<app-name [startGame]="startTheGame" (newDataEvent)="getName($event)"></app-name>
<button type="button" (click)="startGame(timer, color)">Start Game</button>
<button type="button" (click)="stopGame()">Stop</button>
<app-timer id="timer" style="display:none" class="right" #timer></app-timer>

<app-slider color="red" c="r"></app-slider>
<app-slider color="green" c="g"></app-slider>
<app-slider color="blue" c="b"></app-slider>

<app-color id="color" #color></app-color>
<app-score id="score" (getScoreEvent)="parentScore($event)" #score></app-score>

<router-outlet></router-outlet>
