:host {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}

#time {
  font-size: 2rem;
  text-align: center;
  width: fit-content;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}